<p id="notice"><%= notice %></p>

<div class="card text-center mt-4 mb-4">
  <div class="card-body">
    Welcome to Instatalk, <b><%= current_user.nickname %></b>!
    <%= link_to 'Удалить аккаунт', user_path(current_user.id), class: 'button btn btn-warning',
                method: :delete, data: { confirm: 'Вы уверены, что хотите удалить свой аккаунт?' } %>
  </div>
</div>

<h1>Rooms</h1>

<ul class="mt-4 list-unstyled">
  <%= render @rooms %>
</ul>

<div class="mt-2">
  <%= render 'rooms/form', room: @room %>
</div>
