<h1>Комната <%= @room.id %></h1>

<%= link_to "Выйти из комнаты", root_path %>

<p id="notice"><%= notice %></p>

<div class="messages">
  <div class="messages-inner" id="messages" data-room-id="<%= @room.id %>">
    <%= render @room.messages %>
  </div>
</div>

<%= render "messages/form" %>

<% if current_user == @room.user %>
  <%= link_to "Удалить комнату", room_path(@room.token), class: "button btn btn-warning",
              method: :delete, data: { confirm: "Вы уверены, что хотите удалить комнату?" } %>
<% end %>
